@{
    ViewData["Title"] = "Chi siamo";
}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="text-center" style="font-family: Times New Roman, Times, serif; color: black; border: 2px solid darkred; padding: 20px; border-radius: 10px;">
                <h2 class="display-4">Enoteca Quattrocento</h2>
                <p>
                    Benvenuti all'Enoteca Quattrocento, un'accogliente vineria aperta nel 2018. Siamo un locale a gestione
                    familiare, situato nel cuore della città di Rimini, dove il vino di qualità incontra l'ospitalità e il gusto.
                </p>
                <img class="d-block w-100" src="~/fotoCarosello/principale.jpeg" alt="First slide"
                    style="height: 520px;">
                <p style="font-size: medium;">
                    Offriamo una selezione curata di vini provenienti dalle regioni vinicole più rinomate, accompagnati da
                    deliziosi finger food e cocktail creativi. La nostra passione per il vino è accompagnata dalla
                    dedizione alla mixology e alla gastronomia, offrendo un'esperienza completa per i nostri clienti.
                </p>
                <p style="font-size: medium;">
                    Oltre alle degustazioni, siamo anche un punto di ritrovo per eventi culturali e serate musicali dal
                    vivo, creando un'atmosfera vibrante e stimolante per i nostri ospiti.
                </p>
                <p style="font-size: medium;">
                    Siamo lieti di condividere la nostra passione con voi e di offrirvi un'esperienza unica e
                    indimenticabile all'Enoteca Quattrocento.
                </p>
            </div>
                                        <hr class="my-4" style="border-color: #800020;">

        </div>
    </div>
</div>
