@{
    ViewData["Title"] = "Privacy Policy";
}
<br><br><br><br>
<html lang="it">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Enoteca Quattrocento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body
        {
            font-family: 'Times New Roman', Times, serif;
        }

        h1,h2,h3,h4,h5,h6
        {
            font-family: 'Times New Roman', Times, serif;
        }
    </style>

    <div class="container mt-5">
        <h1>@ViewData["Title"]</h1>

        <p>L'Enoteca Quattrocento si impegna a proteggere la tua privacy online. Questa pagina ti informa sulla nostra
            politica riguardante la raccolta, l'uso e la divulgazione dei dati personali quando utilizzi il nostro
            servizio e sulle scelte che hai associato a tali dati.</p>

        <h2>Raccolta e Utilizzo delle Informazioni</h2>
        <p>Raccogliamo diversi tipi di informazioni per vari scopi al fine di fornire e migliorare il nostro servizio
            per te.</p>
        <ul>
            <li><strong>Dati Personali:</strong> Potremmo raccogliere informazioni personali come il tuo nome,
                l'indirizzo email e altre informazioni di contatto quando ti registri al nostro servizio o fai un
                ordine.</li>
            <li><strong>Dati di Utilizzo:</strong> Possiamo anche raccogliere informazioni su come accedi e utilizzi il
                servizio ("Dati di Utilizzo"). Questi dati di utilizzo possono includere informazioni come l'indirizzo
                IP del tuo dispositivo, il tipo di browser, la versione del browser, le pagine del nostro servizio che
                visiti, l'ora e la data della tua visita, il tempo trascorso su quelle pagine e altre statistiche.</li>
        </ul>

        <h2>Cookie</h2>
        <p>I cookie sono file con una piccola quantità di dati che possono includere un identificatore univoco anonimo.
            I cookie vengono inviati al tuo browser da un sito web e memorizzati sul tuo dispositivo. Utilizziamo i
            cookie per raccogliere informazioni e migliorare il nostro servizio.</p>
        <p>Puoi istruire il tuo browser per rifiutare tutti i cookie o per indicare quando viene inviato un cookie.
            Tuttavia, se non accetti i cookie, potresti non essere in grado di utilizzare alcune parti del nostro
            servizio.</p>

        <h2>Divulgazione dei Dati</h2>
        <p>Possiamo divulgare i tuoi dati personali nei seguenti casi:</p>
        <ul>
            <li><strong>Requisiti legali:</strong> Potremmo divulgare i tuoi dati personali quando riteniamo in buona
                fede che tale azione sia necessaria per rispettare un obbligo legale o proteggere e difendere i nostri
                diritti legali.</li>
            <li><strong>Problemi di sicurezza:</strong> Potremmo divulgare i tuoi dati personali quando riteniamo che la
                divulgazione sia necessaria per proteggere la tua sicurezza o la sicurezza di altri, indagare su frodi o
                rispondere a una richiesta del governo.</li>
        </ul>

        <h2>Modifiche alla Privacy Policy</h2>
        <p>Possiamo aggiornare la nostra Privacy Policy di tanto in tanto. Ti informeremo di eventuali modifiche
            pubblicando la nuova Privacy Policy su questa pagina.</p>
        <p>Ti consigliamo di rivedere periodicamente questa Privacy Policy per eventuali modifiche. Le modifiche a
            questa Privacy Policy sono efficaci quando vengono pubblicate su questa pagina.</p><br><br><br><br>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</html>
